.learning-mod {
  padding: 12px 0;
  .train-banner-notice {
    padding: 0 16px;
  }
  .train-list-wrapper {
    margin: 0 16px;
  }
  .tab-row {
    margin: 10px 0;
    .van-tab {
      font-size: var(--font-size-md);
    }
  }
}
